<%= form_for(@species, :html => {:multipart => true}) do |f| %>
  <%if @species.errors.any?%>
    <% @species.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :common_name %>
    <%= f.text_field :common_name, :required => true, :class => 'form-control', :autofocus => true %>
  </div>

  <div class="form-group">
    <%= f.label :latin_name %>
    <%= f.text_field :latin_name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, :required => true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.text_field :status, :required => true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :habitat %>
    <%= f.text_area :habitat, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :biology %>
    <%= f.text_area :biology, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :more_info %>
    <%= f.text_area :more_info, :class => 'form-control' %>
  </div>

  <%= f.submit :class => 'btn btn-primary' %>

<% end %>
