<!DOCTYPE html>
<html>
<head>
  <title>Zoopedia</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render "pages/navbar" %>
    <%= yield %>
  <%= render "pages/footer" %>
</div>
</body>
</html>
